[hidden] {
    display: none !important;
}

select {
    border-radius: 0 !important;
    font-size: 14px !important;
}

.nav-bar-group {
    display: flex;
    flex-wrap: wrap;
}

.or-btn {
    min-width: 3rem !important;
}

.img-container {
    width: 100% !important;
    height: 74vh !important;
}

.msg-container {
    margin-top: 35vh !important;
}

.modal-close-btn {
    min-width: auto !important;
}
.modal-title {
    font-weight: normal !important;
    font-size: 18px !important;
}