<div class="container">
    <div class="cards col-12">
        <div class="row">
            <div class="col-6">
                <button
                    href="#"
                    routerLink="/mitosis/segmentedimage"
                    class="btn"
                >
                    <div class="col-12 mb-4">
                        <img
                            src="../../assets/icons/smi.ico"
                            height="100"
                            width="130"
                        />
                    </div>
                    <span style="font-weight: bold;">
                        Segmented Image
                    </span>
                </button>
            </div>
            <div class="col-6">
                <button href="#" routerLink="/mitosis/wsl" class="btn" disabled>
                    <div class="col-12 mb-4">
                        <img
                            src="../../assets/icons/wsl.ico"
                            height="100"
                            width="100"
                        />
                    </div>
                    <span style="font-weight: bold;">
                        Whole Slide Image
                    </span>
                    <br />
                    <small class="text-muted">
                        under construction
                    </small>
                </button>
            </div>
        </div>
    </div>
</div>
<div
    class="row border-top pt-2 mr-0 ml-0 page-footer justify-content-center text-secondary"
>
    <img
        class="mt-1 mr-2"
        src="../../assets/icons/brain-img.ico"
        height="25"
        width="25"
    />
    <small class="pt-2"> ©{{ currentYear }} Pathology Cell Detector </small>
</div>

