<div class="container">
    <div class="cards col-12">
        <div class="row">
            <div class="col-4">
                <button class="btn" href="#" routerLink="/braincell">
                    <div class="col-12 mb-4">
                        <img
                            src="../../assets/icons/brain.ico"
                            height="100"
                            width="110"
                        />
                    </div>
                    <span style="font-weight: bold;">
                        Brain Cell
                    </span>
                </button>
            </div>
            <div class="col-4">
                <button href="#" routerLink="/ki67" class="btn">
                    <div class="col-12 mb-4">
                        <img
                            src="../../assets/icons/atom.ico"
                            height="100"
                            width="115"
                        />
                    </div>
                    <span style="font-weight: bold;">
                        Ki-67
                    </span>
                </button>
            </div>
            <div class="col-4">
                <button href="#" routerLink="/mitosis" class="btn">
                    <div class="col-12 mb-4">
                        <img
                            src="../../assets/icons/mitosis.ico"
                            height="100"
                            width="100"
                        />
                    </div>
                    <span style="font-weight: bold;">
                        Mitotic
                    </span>
                    <br />
                    <!-- <small class="text-muted">
                        coming soon
                    </small> -->
                </button>
            </div>
        </div>
    </div>
</div>
<div
    class="row border-top pt-2 mr-0 ml-0 page-footer justify-content-center text-secondary"
>
    <img
        class="mt-1 mr-2"
        src="../../assets/icons/brain-img.ico"
        height="25"
        width="25"
    />
    <small class="pt-2"> ©{{ currentYear }} Pathology Cell Detector </small>
</div>
